/* @override http://mnmatt.com/zeroclipboard/craigslist.css */

body {
    margin: 0;
    padding:0;
    overflow: hidden;
    font: 83%/1.4 Arial, Helvetica, Sans-Serif;
}
 
#frameDiv{
	padding: 0 0 0 260;
}
 
#bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0px;
    line-height: 1;
    #border-right:1px dotted black;
    border-right:1px solid #888888;
    text-size: 1.2em;
    background:#0094A2;
    width:250px;
    height:100%;
    color: #fff;
}
#frame {
    width: 100%;
    height: 100%;
    z-index: 10;
}
#intro {
	text-align: center;
	margin: 0 20px;
}
#instructions {
	padding: 10px;
}
#instructions p {
	margin-bottom: 30px;	
}
.favButton{
	margin-bottom:10px;
}
#logo {
	height: 112px;
	width: 250px;
	background: url('http://dl.dropbox.com/u/618195/logo.jpg') no-repeat right top;
}
.clip_button { 
	width: 30px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 5px 5px;
	background: -moz-linear-gradient(
		top,
		#e6e3e6 0%,
		#999799);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e6e3e6),
		to(#999799));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #bdb7bd;
	-moz-box-shadow:
		0px 0px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 0px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(138,138,138,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
#instructions textarea {
	width: 60px;
	overflow: hidden;
	height: 19px;
	float: right;
	margin: -3px 50px 0 0;
}

#rent_container, #email_container, #descrip_container {
	float: right;
	margin-right: 10px;
	margin: -50px 0 0 0;
}
.numbering {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	padding: 2px 6px;
	background: -moz-linear-gradient(
		top,
		#00b6c0 0%,
		#0b888f);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00b6c0),
		to(#0b888f));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-right: 3px;
}