/* @override http://inbode.com/sites/all/themes/inbode/morestyles.css */

/*
         _       __              __   
        (_)___  / /_  ____  ____/ /__ 
       / / __ \/ __ \/ __ \/ __  / _ \
      / / / / / /_/ / /_/ / /_/ /  __/
     /_/_/ /_/_.___/\____/\__,_/\___/ 

     inbode.com is made in America
     by the people of ten7i.com
       ______          ______                      
      /_  __/___  ____/__  (_) _________  ____ ___ 
       / /  / _ \/ __ \ / / / / ___/ __ \/ __ `__ \
      / /  /  __/ / / // / /_/ /__/ /_/ / / / / / /
     /_/   \___/_/ /_//_/_/(_)___/\____/_/ /_/ /_/ 


		This one's for Matt.


*/

#t7_white_box  {
	
}
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

#t7_swapout_contain {
	height: 490px;
	}

#t7_swapout_header {
	height: 50px;
	margin-bottom: 10px;
	}
#t7_swapout_header_left {
	float: left;
	}
#t7_swapout_header_right {
	float: right;
	}
#t7_swapout_header_left h1, #t7_swapout_header_right h1 {
	margin: 10px;
	}
#t7_swapout_header_right .contact {
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 0px;
	position: relative;
	}

#t7_swapout_header .contact a{
	float: right;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: #fff;
	width: 120px;
	padding: 7px 20px;
	text-decoration: none;
	background: #50B2BF; /* old browsers */
	background: -moz-linear-gradient(top, #50B2BF 0%, #1790A2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50B2BF), color-stop(100%,#1790A2));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50B2BF', endColorstr='#1790A2',GradientType=0 );
	-moz-border-radius: 20px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 
		0px 1px 0pt #009d9b, 
		inset 0px 1px #009d9b
  		;
	-moz-box-shadow: 
		0px 1px 0pt #8bb7be, 
		inset 0px 1px #333
  		;
  	box-shadow: 
		0px 1px 0pt #8bb7be, 
		inset 0px 1px #333
		;
	text-shadow: #11798a 0 -1px 0;
	*z-index: 5;
	*zoom: 1;
	*padding: 2px 10px;
	}
#t7_swapout_header .contact a:link {
	position:relative;
	text-decoration: none;
	}
#t7_swapout_header .contact a:visited {
	color: white;
	text-decoration: none;
	}
#t7_swapout_header .contact a:hover {
	background: #50B2BF; /* old browsers */
	background: -moz-linear-gradient(top, #1790A2 0%, #50B2BF 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#50B2BF), color-stop(100%,#1790A2));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50B2BF', endColorstr='#1790A2',GradientType=0 );
	-webkit-box-shadow: 
		0px 1px 0pt #009d9b, 
		inset 0px 1px #009d9b,
		inset 0px 0px 20px #00777c;
	-moz-box-shadow: 
		0px 1px 0pt #009d9b, 
		inset 0px 1px #009d9b,
		inset 0px 0px 20px #00777c;;
	box-shadow: 
		0px 1px 0pt #009d9b, 
		inset 0px 1px #009d9b,
		inset 0px 0px 20px #00777c;
		}
#t7_swapout_header .contact a:active {
	top: 2px;
	}
#t7_swapout_header .contact h3 {
	font-weight: lighter;
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 15px;
}
	
#t7_swapout_header .t7_fav_share {
	float: right;
	margin: 7px 5px 0 0px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #636363;
	}
	
#t7_swapout_header .t7_fav_share a:link {
	color: #636363;
	text-decoration: none;
	}
#t7_swapout_header .t7_fav_share a:visited {
	color: #636363;
	}
#t7_swapout_header .t7_fav_share a:hover {
	color: #636363;
	text-decoration: underline;
	}
#t7_swapout_header .t7_fav_share a:active {
	color: #636363
	}

.t7_swapout {
	height: 440px;
	margin-top: 5px;
	}

#t7_address {
	margin-top: -10px;
	}
div.jcarousel-prev.jcarousel-prev-horizontal, div.jcarousel-prev.jcarousel-prev-disabled-horizontal {
	top: 33px;
	background-position: 0;
}
div.jcarousel-next.jcarousel-next-horizontal, div.jcarousel-next.jcarousel-next-disabled-horizontal {
	top: 33px;
	background-position: 0;
}
