/*
         _       __              __   
        (_)___  / /_  ____  ____/ /__ 
       / / __ \/ __ \/ __ \/ __  / _ \
      / / / / / /_/ / /_/ / /_/ /  __/
     /_/_/ /_/_.___/\____/\__,_/\___/ 

     inbode.com is made in America
     by the people of ten7i.com
       ______          ______                      
      /_  __/___  ____/__  (_) _________  ____ ___ 
       / /  / _ \/ __ \ / / / / ___/ __ \/ __ `__ \
      / /  /  __/ / / // / /_/ /__/ /_/ / / / / / /
     /_/   \___/_/ /_//_/_/(_)___/\____/_/ /_/ /_/ 

*/



/** the whole page **/
html, body {
	margin : 0px;
	padding : 0px;
	text-align : left;
	font-size : 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	background-color: #FFFFFF;
	color: #000000;
}

/** headlines and content **/	
h1, h2, h3, h4, p, li, td, input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align : left;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

/** hyper links **/
a:link {
	color: #1693a5;
	text-decoration : underline;
	font-weight : normal;
}
a:visited {
	color: #999999;
	text-decoration : underline;
	font-weight : normal;
}
a:hover  {
	color: #000000;
	text-decoration : underline;
	font-weight : normal;
}
a:active {
	color: #999999;
	text-decoration : underline;
	font-weight : normal;
}
/** greeting links **/
#t7_greeting a:link {
	color: #000;
	text-decoration : underline;
	font-weight : normal;
}
#t7_greeting a:visited {
	color: #333;
	text-decoration : underline;
	font-weight : normal;
}
#t7_greeting a:hover  {
	color: #000000;
	text-decoration : none;
	font-weight : normal;
}
#t7_greeting a:active {
	color: #999999;
	text-decoration : underline;
	font-weight : normal;
}
/** h2 links **/
h2 a:link {
	color: #1693a5;
	text-decoration : none;
}
h2 a:visited {
	color: #1693a5;
	text-decoration : none;
}
h2 a:hover  {
	color: #000000;
	text-decoration : none;
}
h2 a:active {
	color: #999999;
	text-decoration : none;
}

/** container **/
#t7_container {
	text-align : left;
	padding: 25px 0 0 0;
	margin: 0px auto;
	width: 960px;
}

/** header **/
#t7_header_wrap {
	height: 110px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	clear: both;
	background-image: url(images/header-bg.png);
	background-repeat: repeat-x;
	
}
#t7_header {
	height: 110px;
	width: 960px;
	text-align : left;
	padding: 0px;
	margin: 0px auto;
	clear: both;
  background: transparent;
}
#t7_inbode_logo {
  margin: 10px 0 0 0;
  padding: 0;
  width: 230px;
  height: 79px;
  float: left;
}
#t7_greeting {
  color: #fff;
  float: right;
  text-align: right;
  width: 400px;
  margin-top: 40px;
}


/** units and buildings **/
.building {
  font-size: 18px;
  font-weight: lighter;
  margin: 25px 0 0 0 ;
}
.unit {
  font-size: 14px;
  margin: 5px 0 0 50px;
}
#t7_summary h3 {
  text-transform: uppercase;
  margin: 10px 0 0 40px;
  font-size: 14px;
}
/** h3 links **/
#t7_summary  a:link {
	color: #1693a5;
	text-decoration : none;
}
#t7_summary  a:visited {
	color: #1693a5;
	text-decoration : none;
}
#t7_summary  a:hover  {
	color: #000000;
	text-decoration : none;
}
#t7_summary  a:active {
	color: #999999;
	text-decoration : none;
}
#t7_summary h3 a:link {
	color: #1693a5;
	text-decoration : none;
}
#t7_summary h3 a:visited {
	color: #1693a5;
	text-decoration : none;
}
#t7_summary h3 a:hover  {
	color: #000000;
	text-decoration : none;
}
#t7_summary h3 a:active {
	color: #999999;
	text-decoration : none;
}

/** content areas **/
#t7_content {
	text-align : left;
	padding: 0px;
	margin: 0px;
	width: 960px;
	float: left;
}
#t7_content_top {
	text-align : left;
	padding: 0px;
	margin: 0px;
	clear: both;
}
#t7_content_bottom {
	text-align : left;
	padding: 0px;
	margin: 0px;
	clear: both;
}

/** footer **/
#t7_footer {
	text-align : left;
	padding: 0px;
	margin: 0px;
	clear: both;
	height: 25px;
	width: 100%;
}

/** fix for extending the container all the way to the bottom **/
#t7_extender {
  width:960px;
  clear:both;
  height:0px;
  margin:0px;
  padding:0px;
}


/** warnings and messages **/
div.messages {
  background-image: none;
  background-color: white;
  margin: 0px auto 20px auto;
  padding: 10px;
  width: 550px;
  border: 0px solid;
  font-weight: lighter;
  color: #000;
  font-size: 13px;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.messages a {
  color: #000;
}

div.warning {
	background-image: none;
  background-color: #C3DC1E;
  font-weight: lighter;
  color: #000;
  font-size: 13px;
  border: 0px solid;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  padding: 10px;
}

div.error {
  background-image: none;
  background-color: #A62A17;
  font-weight: lighter;
  color: #fff;
  font-size: 13px;
  border: 0px solid;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  padding: 10px;
}

div.status {
  background-image: none;
  background-color: #1693a5;
  font-weight: lighter;
  color: #fff;
  font-size: 13px;
  border: 0px solid;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  padding: 10px;
}

.messages ul,
.warning ul,
.error ul,
.status ul {
	margin: 0;
}

/** admin menu font face override **/
#admin-menu p,
#admin-menu li,
#admin-menu td,
#admin-menu input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.1em;
}

/** overrides **/
#tinymce {
	background-image: none;
	background: #fff;
}


.h100 {
  height: 100%;
}
#t7_front {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  clear: both;
  display: block;
}


fieldset, input, textarea {
	border: 1px #ccc solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
fieldset legend {
	padding: 0 10px 0 8px;
}

input, textarea {
	padding: 3px 5px;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

tr.odd {
	background-color: #e8e8e8;
}
tr.even {
	background-color: #fff;
}

tr.odd td,
tr.even td,
tr th,
tr th {
	padding: 3px 5px;

}


/* user login styles */
	#user-login input.form-text
	{
		border-bottom-left-radius: 4px 4px;
		border-bottom-right-radius: 4px 4px;
		border-top-left-radius: 4px 4px;
		border-top-right-radius: 4px 4px;
		font-family: 'helvetica neue', helvetica, arial, sans-serif;
		font-size: 16px;
		font-weight: lighter;
		padding: 5px;
		margin-left: 0;
	}
	#user-login input:focus, a {outline: 0 none;}

/* BUTTONS!!!! */
.swfupload_button div.center, form.confirmation div a, .form-submit, #edit-submit, #edit-field-building-images div.center {
	cursor: pointer;
	background: #B9B9B9;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#B9B9B9));
	background: -moz-linear-gradient(top, white, #B9B9B9);
	color: #000 !important;
	padding: 4px 9px;
	text-decoration: none;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 2px;
	box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 2px;
	border: 1px solid rgba(0, 0, 0, 0.496094);
	text-shadow: rgba(255, 255, 255, 0.796875) 1px 1px 0px;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: -0.5px;	
   }
form.confirmation div a:hover, .form-submit:hover, #edit-submit:hover, #edit-field-building-images div.center:hover {
	background:rgba(240,240,240,1);
   }
form.confirmation div a:active, .form-submit:active, #edit-submit:active, #edit-field-building-images div.center:active {
        background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
   }	

	/* 	CORRECTS ERROR DISPLACEMENT ON NODE/ADD INLINE FORMS */
.unit-entry #t7_add_contain_unit #node-form .messages {float:right;width: 360px !important; height: auto !important;margin-right:30px !important;}
.building-entry #t7_add_contain #node-form .messages {float:right;width: 360px !important; height: auto !important;margin-right:20px !important;}

	.messages 
	{
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	}


#field_building_images_values .description,
#field_unit_images_values .description,
#field-unit-more-images-items .description {
	display: none;
	visibility: hidden;
}


.form-required {
	display: none;
	visibility: hidden;
}

.widget-preview {
	width:300px;
}













/* ************************************ */
/*			 BUILDING node/add 			*/
/* ************************************ */

	/* ************************************ */
	/* CORRECTING AND SETTING UP CONTAINERS */
	/* ************************************ */
	#t7_add_contain {
		position: relative;
	
	}
	#t7_add_contain #t7_content {
		width: 865px;
		background-color: #eeecec;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	#t7_add_contain legend, 
	#t7_add_contain #edit-title-wrapper label, 
	#t7_add_contain #edit-field-building-address-0-street-wrapper label,
	#t7_add_contain #edit-field-building-address-0-city-wrapper label, 
	#t7_add_contain #edit-field-building-address-0-city-wrapper label,
	#t7_add_contain #edit-field-building-address-0-province-wrapper label, 
	#t7_add_contain #edit-field-building-address-0-postal-code-wrapper label, 
	#t7_add_contain #edit-field-building-description-0-value-wrapper label, 
	#t7_add_contain .form-item label, 
	#t7_add_contain #field_building_images_values th, 
	#t7_add_contain #edit-field-building-images-0-filefield-upload, 
	#t7_add_contain #edit-field-building-images-1-filefield-upload, 
	#t7_add_contain #edit-field-building-images-2-filefield-upload,
	#t7_add_contain #edit-field-building-images-3-filefield-upload, 
	#t7_add_contain #edit-preview,
	#t7_add_contain .grippie,
	#t7_add_contain #swfupload_file_wrapper-field_building_images thead
		{display: none;}
	/* td.title .wrapper, #swfupload-markup-progress {display:none !important;} */
		#t7_add_contain .form-checkboxes label {
			display: inline;
			color: #666666;
			font-size: 13px;
		}
	#t7_add_contain fieldset {
		border: none;
		margin: 0;
		padding: 0;
		width: 670px;
	}
	#t7_add_contain fieldset .form-item {float: left;display: inline;clear: none;}
		/* 	ZERO-ING OUT DIVS */
	#t7_add_contain #edit-title-wrapper, 
	#t7_add_contain #edit-title-wrapper div,
	#t7_add_contain .location,
	#t7_add_contain .location div,
	#t7_add_contain .form-item,
	#t7_add_contain #edit-submit {padding:0;margin:0;}
	

	/* ************ */
	/* FIELD STYLES */
	/* ************ */
		/* get that text right */
	#t7_add_contain textarea,
	#t7_add_contain input,
	#t7_add_contain label,
	#t7_add_contain #swfupload_file_wrapper-field_building_images
	#t7_add_contain .center {
		font-size: 13px;
		color: #666666;
		padding: 1px 5px !important;
	}
		/* 	get those form fields floating left */
	#t7_add_contain #edit-title, 
	#t7_add_contain #edit-field-building-address-0-street, 
	#t7_add_contain #edit-field-building-address-0-city, 
	#t7_add_contain #edit-field-building-address-0-province, 
	#t7_add_contain #edit-field-building-address-0-postal-code, 
	#t7_add_contain #edit-field-building-description-0-value {float: left;}
	
		/* same-width inputs */
	#t7_add_contain #edit-title, 
	#t7_add_contain #edit-field-building-address-0-city, 
	#t7_add_contain #edit-field-building-address-0-province {
		padding: 0;
		margin: 10px 14px 0 0;
		width: 145px;
	}
		/* address input */
	#t7_add_contain #edit-field-building-address-0-street {
		padding: 0;
		margin: 10px 14px 0 0;
		width: 205px;
	}
		/* zip code input */
	#t7_add_contain #edit-field-building-address-0-postal-code {
		padding: 0;
		margin: 10px 0 0 0;
		width: 75px;
	}
		/* description textarea */
	#t7_add_contain #edit-field-building-description-0-value {
		padding: 0;
		margin: 10px 14px 15px 0;
		width: 414px;
		height: 200px;
		overflow: auto;
		
	}
		/* set the left margins */
		#t7_add_contain #edit-title,
		#t7_add_contain #edit-field-building-description-0-value,
		#swfupload_file_wrapper-field_building_images {margin-left: 15px;}
		#t7_add_contain .left {margin-left: 5px !important}
	
	
		/* checkbox styles */
	#t7_add_contain .form-checkboxes {
		padding: 0;
		margin: 10px 15px 0 0;
	/* 	width: 130px; */
		float: left;
		
	}
	#t7_add_contain .form-checkboxes .form-item {
		float: left;
		padding: 0 10px 0 0;
	}
	
	
	
	/* IMAGE UPLOAD STYLES  SWF UPLOAD */
	#SWFUpload_0 {width:60px !important;height:18px;top:5px;}
	#t7_add_contain #edit-field-building-images {
		padding: 0 0 0 0;
		margin: 10px 15px 0 8px !important;
		float: right;
		clear: right;
	}
	/* table width */
	#t7_add_contain #swfupload_file_wrapper-field_building_images {
		margin-top: 10px;
		width: 405px;
	}
	
	table.swfupload td {
		background-image: none;
		background-color: #fbfbfb;
	}
	.sfwupload-list-cancel {
		background-image: url(/sites/all/themes/inbode/images/cancel.png);
		background-repeat: no-repeat;
		background-position: top center;
	}
	/* BUTTON STYLES */
		.swfupload_button div.swfupload-wrapper .swfupload
		.swfupload_button div.left, .swfupload_button div.center, .swfupload_button div.right {background: none;float:none;height:auto;line-height: normal;}
		.swfupload_button div.left, .swfupload_button div.right {display: none;}
	

	#t7_add_contain .admin {padding: 0;}
		/* submit button */
	#t7_add_contain #edit-submit {
		margin: 0 15px 45px 0;
		position: relative;
		top: 32px;
		padding: 4px 6px;
		float: right;
		clear: both;
	}
	


/* ************************************ */
/*			 UNIT node/add 				*/
/* ************************************ */
	
	/* ************************************ */
	/* CORRECTING AND SETTING UP CONTAINERS */
	/* ************************************ */
	/* SETTING UP CONTAINER */
		#t7_add_contain_unit {
			position: relative;
		}
		#t7_add_contain_unit #t7_content {
			width: 865px;
			background-color: #eeecec;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		#t7_inside_unit {
			position: relative;
			width: 100%;
			float: left;
			padding: 10px 15px;
		}
	/* HIDING UNECESSARY ITEMS THEN OVER-RIDING TO DISPLAY SOME */
		#t7_add_contain_unit .form-item label,
		#t7_add_contain_unit #edit-field-unit-building-nid-nid-wrapper, 
		#t7_add_contain_unit .grippie,
		#t7_add_contain_unit legend, 
		#t7_add_contain_unit #edit-preview,
		#t7_add_contain_unit #swfupload_file_wrapper-field_unit_images thead,
		#t7_add_contain_unit #edit-field-unit-available-0-value-datepicker-popup-0-wrapper .description
			{display: none;}
		#edit-field-unit-bathroom-value-wrapper label, 
		#edit-field-unit-bedroom-value-wrapper label,
		#edit-field-unit-available-0-value-wrapper label,
		#edit-field-unit-status-value-wrapper label,
		#edit-field-unit-unit-nid-nid-wrapper label,
		#edit-field-featureid-0-value-wrapper label {display: inline !important;} 
	
	#t7_add_contain_unit .form-checkboxes label {
		display: inline;
		color: #666666;
		font-size: 13px;
	}
	
	
		/* 	ZERO-ING OUT DIVS and whatnot */
	#t7_add_contain_unit form input {margin:0;}
	#t7_add_contain_unit #edit-title-wrapper, 
	#t7_add_contain_unit #edit-title-wrapper div,
	#t7_add_contain_unit .location,
	#t7_add_contain_unit .location div,
	#t7_add_contain_unit .form-item,
	#t7_add_contain_unit .form-checkboxes,
	#t7_add_contain_unit #edit-submit {padding:0;margin:0;}
	.container-inline-date .form-item .form-item {float:none;}
	
	/* ************ */
	/* FIELD STYLES */
	/* ************ */
		/* get that text right */
	#t7_add_contain_unit textarea,
	#t7_add_contain_unit input,
	#t7_add_contain_unit label {
		font-size: 13px;
		color: #666666;
		padding: 1px 5px !important;
		font-weight: normal;
	}
	
		/* float em all */
	#edit-title,
	#edit-field-unit-bedroom-value-wrapper,
	#edit-field-unit-bathroom-value-wrapper,
	#edit-field-unit-price-0-wrapper, 
	#edit-field-unit-area-0-value-wrapper,
	#container-inline-date form-item date-clear-block,
	#edit-field-unit-available-0-value-wrapper label,
	#edit-field-unit-description-0-value, 
	.form-checkboxes, 
	.form-checkboxes .form-item {
		float: left;
		clear: none; 
	}
	.date-clear-block { display: inline; }
	
		/* setting the widths and what-have-you */
	#edit-title {
		width: 150px;
	}
	#edit-field-unit-bedroom-value {margin-right: 7px;}
	#edit-field-unit-bathroom-value {margin-right:10px;}
	#edit-field-unit-price-0-currency {margin-right: 10px;}
	#edit-field-unit-price-0-amount {
		width: 65px;
	}
	#edit-field-unit-area-0-value {
		width: 65px;
	}
	#edit-field-unit-description-0-value {
		margin: 10px 5px 0 0;
		width: 414px;
		height: 200px;
	}
	.form-checkboxes {
		margin: 10px 0 0 0 !important;
		width: 400px;
	}
	
	#edit-field-unit-status-value-wrapper {
		position: relative;
		padding: 5px !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin: 20px 30px 10px 0 !important;
		float: right;
		clear: both;
	}
		.Listed {background-color: #efe4a6;}
		.Rented {background-color: #b8cfd3;}
		.Inactive {background-color: #dfdcdc;}
	#edit-field-unit-status-value-wrapper {color: white !important;}
	
	/* IMAGE UPLOAD STYLES  SWF UPLOAD */
	#SWFUpload_0 {width:60px !important;height:18px;top:5px;}
	#t7_add_contain_unit #edit-field-unit-images {
		padding: 0 30px 0 0;
		margin: 10px 0 0 8px !important;
		float: right;
		clear: right;
	}
	/* table width */
	#t7_add_contain_unit #swfupload_file_wrapper-field_unit_images {
		margin-top: 10px;
		width: 405px;
		float: left;
	}
	
	table.swfupload td {
		background-image: none;
		background-color: #fbfbfb;
	}
	.sfwupload-list-cancel {
		background-image: url(/sites/all/themes/inbode/images/cancel.png);
		background-repeat: no-repeat;
		background-position: top center;
	}
	/* BUTTON STYLES */
		.swfupload_button div.swfupload-wrapper .swfupload
		.swfupload_button div.left, .swfupload_button div.center, .swfupload_button div.right {background: none;float:none;height:auto;line-height: normal;}
		.swfupload_button div.left, .swfupload_button div.right {display: none;}
	
	#t7_add_contain_unit .admin {padding: 0;}
	
#t7_add_contain_unit #edit-submit {
	margin: 0 30px 0 0;
	top: 32px;
	padding: 4px 6px;
	float: right;
	clear: both;
}

.swfupload_button div.center {
	cursor: pointer;
	background: #B9B9B9;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#B9B9B9));
	background: -moz-linear-gradient(top, white, #B9B9B9);
	color: #000 !important;
	padding: 4px 9px;
	text-decoration: none;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 2px;
	box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 2px;
	border: 1px solid rgba(0, 0, 0, 0.496094);
	text-shadow: rgba(255, 255, 255, 0.796875) 1px 1px 0px;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: -0.5px;	
   }

