  div.tabs
  {
    margin: 0 0 15px 0;
  }

  ul.primary
  {
    margin: 0 ;
    padding: 0 0 0 10px;
    border-width: 0;
    list-style: none;
    white-space: nowrap;
    line-height: normal;
    background: none transparent;
    text-transform: lowercase;
  }

  ul.primary li
  {
    float: left;
    margin: 0 4px;
    padding: 0;
  }

  ul.primary li a
  {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0; 
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
    color: #777;
		background: none transparent;
  }

  ul.primary li a .tab
  {
    display: block;
    height: 20px; 
    margin: 0;
    padding: 4px 6px 4px 6px;
    border-width: 0;
    line-height: 20px;
    background: none transparent;
  }

  ul.primary li a:hover
  {
    border-width: 0;
    background: url(images/tab-bg.png) repeat-x #1693A5;
    color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
  }

  ul.primary li a:hover .tab
  {
    background: url(images/tab-bg.png) repeat-x  #1693A5;
    color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
  }

  ul.primary li.active a,
  ul.primary li.active a:hover
  {
    border-width: 0;
    color: #000;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
    background: url(images/tab-bg.png) repeat-x  #1693A5;
    color: #fff;
  }

  ul.primary li.active a .tab,
  ul.primary li.active a:hover .tab
  {
    background: url(images/tab-bg.png) repeat-x  #1693A5;
    color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
  }

  ul.secondary
  {
  	text-transform: lowercase;
    margin: 5px 0 0 0;
    padding: 0 0 0 20px;
    list-style: none;
    white-space: nowrap;
    border: 0px solid transparent;
    font-size: 0.9em;
  }

  ul.secondary li
  {
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 0;
    border-right: none;
  }

  ul.secondary a
  {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid #c0c0c0;
    text-decoration: none;
    color: #777;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
  }

  ul.secondary a .tab
  {
    display: block;
    height: 18px; /* 24px (parent) - 6px (padding) */
    margin: 0;
    padding: 3px 8px;
    line-height: 18px;
  }

  ul.secondary a:hover
  {
    border: 1px solid #e8e8e8;
    color: #000;
    background-color: #e8e8e8;

  }

  ul.secondary a.active,
  ul.secondary a.active:hover
  {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
    border: 1px solid #e8e8e8;
    color: #000;
    background-color: #e8e8e8;
  }
