/*
         _       __              __   
        (_)___  / /_  ____  ____/ /__ 
       / / __ \/ __ \/ __ \/ __  / _ \
      / / / / / /_/ / /_/ / /_/ /  __/
     /_/_/ /_/_.___/\____/\__,_/\___/ 

     inbode.com is made in America
     by the people of ten7i.com
       ______          ______                      
      /_  __/___  ____/__  (_) _________  ____ ___ 
       / /  / _ \/ __ \ / / / / ___/ __ \/ __ `__ \
      / /  /  __/ / / // / /_/ /__/ /_/ / / / / / /
     /_/   \___/_/ /_//_/_/(_)___/\____/_/ /_/ /_/ 

*/

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map_canvas {
	height: 100%;
}

#t7_container {
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	right: 5px;
	top: 15px;
	width: 283px;
	z-index: 10;
}

#t7_container div,
#t7_container p,
#t7_container a,
#t7_container span {
	filter: dropshadow(color=#2b4d52, offx=0, offy=1);
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	text-shadow: 0px 1px 2px #2b4d52;
}

#t7_signin {
	float: right;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0px;
	padding: 5px 20px 0px 0px;
	position: relative;
}

#t7_container a, 
#t7_container a:link, 
#t7_container a:visited {
	color: #fff;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	text-decoration: none;
}

#t7_container a:hover {
	color: #fff;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	text-decoration: underline;
}

.t7_city {
	clear: both;
	height: auto;
	margin: 0px auto;
	padding: 80px 0px 0px 0px;
	width: 220px;
}

#t7_city {
	background-color: white;
	border: 1px solid #107382;
	color: #636363;
	display: block;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	height: 15px;
	margin: 0px auto;
	padding: 5px;
	width: 208px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#t7_filter_selector {
	color: white;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 13px auto 0px auto;
	text-align: center;
	width: 220px;
}

.t7_vert_slider_container {
	float: left;
	height: 170px;
	margin: 0px 0px 3px;
	padding: 0px;
	width: 49px;
}

#main_slider_container .beds {
	padding: 0 36px !important;
}

#slider-price .room_for_plus,
#slider-beds .room_for_plus,
#slider-baths .room_for_plus {
	padding-right: 0px;
}

#slider-price .slider_plus,
#slider-beds .slider_plus,
#slider-baths .slider_plus {
	color: red !important;
}

.t7_slider_title {
	color: #fff;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	width: 54px;
}

.t7_slider_holder {
	clear: both;
	margin: 0px;
	overflow: hidden;
	padding: 24px 0px 9px 6px;
	width: 48px;
}

#t7_more_filters {
	clear: both;
	height: 16px;
	margin: 8px auto 0;
	padding: 0px;
	text-align: center;
	width: 200px;
}

.first_set a, 
.first_set a:link, 
.first a:visited {
	color: #4c4c4c;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

.first_set a:hover {
	color: #4c4c4c;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}

.second_set ul {
	color: #fff;
	float: left;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

#t7_dates {
	color: #fff;
	font-family: ''helvetica neue', helvetica neue', 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	margin: 0 auto;
	width: 240px;
}

#date-from, 
#date-to {
	color: #fff;
	font-weight: bold;
}

#main_slider_container {
	height: 170px;
	margin: 0 auto;
	width: 220px;
}

.t7_slider {
	margin: 4px 26px 0px 25px;
	width: 4px;
}

.ui-slider-vertical .ui-slider-range {
	left: auto;
	width: 4px;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background: none;
	border: 0px solid transparent;
}

.ui-slider-vertical {
	height: 4px;
	margin: 0 0 0 15px;
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
	filter: dropshadow(color=#c4c4c4, offx=0, offy=-1) !important;
	position: absolute;
	text-shadow: 0px -1px 1px #c4c4c4 !important;
	width: 40px;
	z-index: 2;
}

.ui-slider-horizontal {
	height: 4px;
	margin: 15px 0px;
}

.ui-slider-horizontal .ui-slider-handle {
	background: url("/ui/img/move_in_slider.png") no-repeat scroll 50% 50%;
	border: none;
	height: 15px;
	left: inherit;
	margin: 0;
	top: -6px;
	width: 15px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
}

#slider-price, 
#slider-beds, 
#slider-baths {
	height: 120px;
}

#slider-dates {
	margin: 15px 0px;
	width: 220px;
}

#t7_ldr {
	float: left;
	height: 16px;
	width: 16px;
}

#t7_ldr img {
	display: none;
}

.t7_bubble {
	height: 180px;
	padding: 10px 10px 0;
	width: 240px;
}

.t7_bubble a {
	text-decoration: none;
}

.t7_bubble .t7_text_left {
	color: #636363;
	display: inline;
	font-family: 'helvetica neue', helvetica, arial, sans-serf;
	font-size: 12px;
	height: 16px;
	margin-top: 4px;
	padding-right: 8px;
}

.t7_star {
	position: relative;
	top: 1px;
}

.t7_star:active {
	position: relative;
	top: 2px;
}

.t7_bubble a {
	color: #636363;
	text-decoration: none;
}
.t7_bubble a:hover {
	color: #636363;
	text-decoration: underline;
}

.t7_bubble .t7_text_right {
	color: #636363;
	display: inline;
	font-family: 'helvetica neue', helvetica, arial, sans-serf;
	font-size: 12px;
	height: 16px;
	margin-top: 3px;
}

.t7_bubble h1 {
	color: #464646;
	font-family: 'helvetica neue', helvetica, arial, sans-serf;
	font-size: 22px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.t7_bubble .t7_apt_images {
	background-image: url(/ui/img/apt_bkgrd.jpg);
	float: left;
	height: 83px;
	margin: 5px 3px;
	width: 114px;
}

.t7_bubble .t7_apt_images img {
	margin: 5px;
}

#t7_button {
    background-image: url("/ui/img/button.jpg");
    float: left;
    height: 34px;
    margin-top: 5px;
    width: 241px;
}

#t7_button h1 {
	color: #fff;
	font-family: 'helvetica neue', helvetica, arial, sans-serf;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 5px 0px 0px 0px;
	text-align: center;
	text-decoration: none;
}

#t7_button:active {
	position: relative;
	top: 1px;
}

#t7_button a {
	color: #fff;
	text-decoration: none;
}

.t7_bubble p {
	color: #000101;
	font-family: 'helvetica neue', helvetica, arial, sans-serf;
	font-size: 12px;
	line-height: 15px;
	margin: 0;
	padding: 5px 0px 5px 0px;
}

.t7_bubble .t7_tabs {
	border: none;
	color: #187987;
	float: left;
	font-family: 'helvetica neue', helvetica, arial, sans-serf;
	font-size: 12px;
	height: 28px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	width: 70px;
}

.t7_bubble .t7_tabs img {
	border: none;
	margin-left: 20px;
}

.t7_bot {
	clear: both;
	text-align: center;
}

#slider-price a, 
#slider-beds a, 
#slider-baths a {
	font-size: 13px;
	height: 16px;
	left: -20px;
	padding: 2px 4px 3px;
	text-align: center;
}

#slider-price a:hover, 
#slider-beds a:hover, 
#slider-baths a:hover {
	text-decoration: none;
}

.ui-slider-vertical .ui-slider-handle {
	background: #f2f1f1;
	background: -moz-linear-gradient(top, #fcfbfb, #989898);
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfbfb), to(#989898));
	color: #444444 !important;
	font-size: 14px;
	padding: 3.5px 7px;
	text-decoration: none;
	vertical-align: middle;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
}

input:focus, a {
	outline: 0 none;
}

.trigger_1, .trigger_2 {
	font-size: 12px !important;
	padding-left: 12px;
}

.trigger_1 {
	margin-right: 26px;
}

.trigger_2 {
	margin: 25px 12px 0 0;
}

.active {
	background: transparent url(/ui/img/triangle_down.png) no-repeat left;
}

.inactive {
	background: transparent url(/ui/img/triangle_right.png) no-repeat left;
}

#t7_ui_container {
	overflow: hidden;
	width: 283px;
}

.top_cap {
	background: transparent url(/ui/img/top_cap.png) no-repeat top;
	height: 11px;
	margin: 0;
	padding: 0;
	width: 283px;
}

.body_content {
	background: transparent url(/ui/img/extender.png) no-repeat bottom;
	overflow: hidden;
	width: 283px;
}

.logo_search {
	background: transparent url(/ui/img/logo_mid.png) no-repeat top;
	height: 173px;
	margin: 0;
	padding: 0;
	width: 283px;
}

.first_set {
	display: none;
	height: auto;
	padding-bottom: 20px;
	width: 283px;
}

.second_set {
	display: none;
	height: 145px;
	padding-bottom: 20px;
	width: 283px;
}

.second_set div, .second_set a {
	text-align: center;
}

.amenities {
	margin: 0 auto;
	width: 230px;
}

.amenities ul {
	margin: 0 0 25px;
	padding: 0px;
	text-align: left;
	width: 100px;
}

.amenities .left_col {
	padding-right: 10px;
}

.amenities .right_col {
	padding-left: 10px;
}

.custom-checkbox {
	cursor: hand;
	cursor: pointer;
	display: inline;
	font-size: 16px;
	line-height: 16px;
}

.custom-checkbox .mark {
	display: inline;
}

.custom-checkbox img {
	height: 16px;
	vertical-align: middle;
	width: 16px;
}

.custom-checkbox img {
	background: transparent url(safari-checkbox.png) no-repeat;
}

.custom-checkbox img {
	background-position: 0px 0px;
}

.custom-checkbox-hover img {
	background-position: -16px 0px;
}

.custom-checkbox-checked img {
	background-position: 0px -16px;
}

.custom-checkbox-checked .custom-checkbox-hover img {
	background-position: -16px -16px;
}

.custom-checkbox-disabled img {
	background-position: 0px -32px;
}

.custom-checkbox-checked .custom-checkbox-disabled img {
	background-position: 0px -48px;
}

.jquery-safari-checkbox {
	cursor: hand;
	cursor: pointer;
	display: inline;
	font-size: 16px;
	line-height: 16px;
}

.jquery-safari-checkbox .mark {
	display: inline;
}

.jquery-safari-checkbox img {
	height: 15px;
	margin-right: 4px;
	vertical-align: middle;
	width: 16px;
}

.jquery-safari-checkbox img {
	background: transparent url(/ui/img/safari-checkbox.png) no-repeat;
}

.jquery-safari-checkbox img {
	background-position: 0px -17px;
}

.jquery-safari-checkbox-hover img {
	background-position: -16px -17px;
}

.jquery-safari-checkbox-checked img {
	background-position: 0px -2px;
}

.jquery-safari-checkbox-checked .jquery-safari-checkbox-hover img {
	background-position: -16px -2px;
}

.t7_bubble .jquery-safari-checkbox {
	cursor: hand;
	cursor: pointer;
	display: inline;
	font-size: 16px;
	line-height: 16px;
}

.t7_bubble .jquery-safari-checkbox .mark {
	display: inline;
}

.t7_bubble .jquery-safari-checkbox img {
	height: 15px;
	margin-right: 4px;
	vertical-align: middle;
	width: 16px;
}

.t7_bubble .jquery-safari-checkbox img {
	background: transparent url(/ui/img/star_sprite.png) no-repeat;
}

.t7_bubble .jquery-safari-checkbox img {
	background-position: 0px -17px;
}

.t7_bubble .jquery-safari-checkbox-hover img {
	background-position: -16px -17px;
}

.t7_bubble .jquery-safari-checkbox-checked img {
	background-position: 0px -2px;
}

.t7_bubble .jquery-safari-checkbox-checked .jquery-safari-checkbox-hover img {
	background-position: -16px -2px;
}

.hand {
	cursor: pointer;
}



.t7_gallery_pop {
	width: 640px;
	height: 640px;
	border: 0;
	padding: 10px;
	margin: 0;
	overflow: hidden;
}

.t7_gallery_pop .bigimage {
	margin: 10px;
	padding: 0;
}

.t7_gallery_images {
	float: left;
	width: auto;
	height: 73px;
	margin: 3px;
	padding: 0;
}

.t7_gallery_pop h2 {
	color: #464646;
	filter: dropshadow(color=#e8e8e8, offx=0, offy=1);
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	text-shadow: 0px 1px 2px #e8e8e8;
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

.t7_gallery_strip {
	height: 81px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}