#t7_white_box_container {
  margin: 0px auto;
  width: 802px;
}
#t7_swapout_contain {
  text-align: center;
  position: relative;
  height: 505px;
  padding: 0;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.t7_swapout {
  vertical-align: middle;
  height: 500px;
  width: 700px;
  float: left;
  position: absolute;
  overflow: hidden;
  display: none;
}
#t7_price {
  float: right;
  margin-right: 30px;
}
#t7_price .contact {
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 10px;
	position: relative;
}
#t7_price .contact {
	background-image: url(/ui/img/lb_button_bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding: 10px 34px;
	margin: 0 0 10px 0;
	color: white !important;
	text-decoration: none;
	text-shadow: 0 -1px 0 black;
	position: relative;
	}
#t7_price .contact a:link {position:relative;text-decoration: none;}
#t7_price .contact a:visited {color: white;text-decoration: none;}
#t7_price .contact a:hover {text-decoration: underline;}
#t7_price .contact a:active {text-decoration: underline;top: 1px;}

#t7_price .t7_fav_share {
  margin-top: 10px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #636363;
}
#t7_price .t7_fav_share a:link {
  color: #636363
}
#t7_price .t7_fav_share a:visited {
  color: #636363
}
.t7_fav_share a:hover {
  color: #636363;
  text-decoration: none !important;
}
#t7_price .t7_fav_share a:active {
  color: #636363
}
#t7_price .contact h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #fff;
}
#t7_address {
  float: left;
  margin-left: 10px;
  text-align: left;
}
#t7_address ul {
  margin: 10px 0px 0px 0;
  padding: 0;
}
#t7_address ul li {
  color: #636363;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
#t7_white_box {
  width: 700px;
  margin: 0px auto;
  padding: 0;
}
#t7_white_box table {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
}
#t7_white_box table tr {
  margin: 20px 0px 20px 0px
}
#t7_white_box h1 {
  color: #464646;
  font-weight: normal;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
#t7_white_box table h2 {
  color: #187987;
  font-weight: bold;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  float: left;
  width: 90px;
}
#t7_white_box table p {
  color: #000101;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px 0px 5px 40px;
  width: 410px;
  float: left;
  text-align: left;
}
#t7_white_box table ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 100px;
  text-align: left;
}
#t7_white_box table ul li {
  list-style: none;
  color: #000101;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-left: 1em;
  text-indent: -1em;
}
#t7_white_box table ul li:before {
  content: "\002D \0020"
}
#t7_white_box ul.images li {
  list-style-type: none;
  float: left;
  margin: 0px 10px 15px 10px;
}
#t7_white_box ul.images li {
  margin: 0px 10px 15px 10px
}
#t7_white_box ul.images li a img {
  border: none
}
#t7_white_box ul.images li.nav {
  margin: 15px 10px 15px 10px
}
#t7_white_box ul.images li.details {
  color: #ffffff;
  width: 67px;
  height: 44px;
  padding: 15px;
  background: url(/sites/all/themes/inbode/images/unit/unit_details.jpg) no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px 10px 15px 10px;
}
#t7_white_box ul.images li.details h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.jcarousel-skin-tango {
  float: left;
  width: 100%;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
  padding: 0 40px;
  width: 621px;
  border-top: 2px solid #A5A5A5;
  float: left;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  height: 75px;
  width: 610px;
  padding-bottom: 20px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 10px;
  padding-top: 15px;
}
skin.css (line 33)
.jcarousel-skin-tango .jcarousel-item {
  height: 75px;
  width: 75px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/sites/all/themes/inbode/images/unit/prev.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  cursor: pointer;
  height: 32px;
  left: 5px;
  position: absolute;
  top: 43px;
  width: 32px;
}
.jcarousel-skin-tango div.jcarousel-prev-disabled-horizontal {
  background-image: url("/sites/all/themes/inbode/images/unit/prev_.png")
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/sites/all/themes/inbode/images/unit/next.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 43px;
  width: 32px;
}
.jcarousel-skin-tango div.jcarousel-next-disabled-horizontal {
  background-image: url("/sites/all/themes/inbode/images/unit/next_.png")
}
#mycarousel .t7-thumb-image {
	padding: 3px;
}
#mycarousel .t7-thumb-image:hover {
	padding: 2px;
	border: 1px #A5A5A5 solid;
}
#mycarousel .thumb-selected .t7-thumb-image {
	padding: 2px;
	border: 1px #A5A5A5 solid;
}
.thumb-selected {
  background-image: url("/sites/all/themes/inbode/images/unit/selected.png");
  background-position: center top;
  background-repeat: no-repeat;
}

input.getlink {
	width: 100px;
	height: 15px;
	border: 1px solid #999;
	margin: 0;
	padding: 0;
	color: #636363;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 11px;
}

/* Makes selection color identity color w/white text */
::selection { background:#187987; color: white; text-shadow: 0 1px 2px black; }
::-moz-selection { background:#187987; color:white; -moz-text-shadow: 0 1px 2px pink; }
::-webkit-selection { background:#187987; color:white; -webkit-text-shadow: 0 1px 2px black; }