
#t7_white_box_container {
  margin: 0px auto;
  width: 802px;
}
#t7_swapout_contain {
  text-align: center;
  position: relative;
  height: 505px;
  padding: 0;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.t7_swapout {
  vertical-align: middle;
  height: 500px;
  width: 700px;
  float: left;
  position: absolute;
  overflow: hidden;
  display: none;
}
#t7_address {
  float: left;
  margin-left: 10px;
  text-align: left;
}
#t7_address ul {
  margin: 10px 0px 0px 0;
  padding: 0;
}
#t7_address ul li {
  color: #636363;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
#t7_white_box {
  width: 700px;
  margin: 0px auto;
  padding: 0;
}
#t7_white_box table {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
}
#t7_white_box table tr {
  margin: 20px 0px 20px 0px
}
#t7_white_box h1 {
  color: #464646;
  font-weight: normal;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
#t7_white_box table h2 {
  color: #187987;
  font-weight: bold;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  float: left;
  width: 90px;
}
#t7_white_box table p {
  color: #000101;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px 0px 5px 40px;
  width: 410px;
  float: left;
  text-align: left;
}
#t7_white_box table ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 100px;
  text-align: left;
}
#t7_white_box table ul li {
  list-style: none;
  color: #000101;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-left: 1em;
  text-indent: -1em;
}
#t7_white_box table ul li:before {
  content: "\002D \0020"
}
#t7_white_box ul.images li {
  list-style-type: none;
  float: left;
  margin: 0px 10px 15px 10px;
}
#t7_white_box ul.images li {
  margin: 0px 10px 15px 10px
}
#t7_white_box ul.images li a img {
  border: none
}
#t7_white_box ul.images li.nav {
  margin: 15px 10px 15px 10px
}
#t7_white_box ul.images li.details {
  color: #ffffff;
  width: 67px;
  height: 44px;
  padding: 15px;
  background: url(/sites/all/themes/inbode/images/unit/unit_details.jpg) no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px 10px 15px 10px;
}
#t7_white_box ul.images li.details h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.jcarousel-skin-tango {
  float: left;
  width: 100%;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
  padding: 0 40px;
  width: 621px;
  border-top: 2px solid #A5A5A5;
  float: left;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  height: 75px;
  width: 610px !important;
  padding-bottom: 20px;
}

.jcarousel-list-horizontal { width: 10000px !important; }

.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 10px;
  padding-top: 15px;
}
skin.css (line 33)
.jcarousel-skin-tango .jcarousel-item {
  height: 75px;
  width: 75px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  background-image: url("/sites/all/themes/inbode/images/unit/prev.png");
  background-repeat: no-repeat;
  cursor: pointer;
  height: 32px;
  left: 5px;
  position: absolute;
  top: 33px;
  width: 32px;
}
.jcarousel-skin-tango div.jcarousel-prev-disabled-horizontal {
  background-image: url("/sites/all/themes/inbode/images/unit/prev_.png")
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
  background-image: url("/sites/all/themes/inbode/images/unit/next.png");
  background-repeat: no-repeat;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 33px;
  width: 32px;
}.jcarousel-skin-tango div.jcarousel-next-disabled-horizontal {
  background-image: url("/sites/all/themes/inbode/images/unit/next_.png")
}
#mycarousel .t7-thumb-image {
	padding: 3px;
}
#mycarousel .t7-thumb-image:hover {
	padding: 2px;
	border: 1px #A5A5A5 solid;
}
#mycarousel .thumb-selected .t7-thumb-image {
	padding: 2px;
	border: 1px #A5A5A5 solid;
}
.thumb-selected {
  background-image: url("/sites/all/themes/inbode/images/unit/selected.png");
  background-position: center top;
  background-repeat: no-repeat;
}

input.getlink {
	width: 100px;
	height: 15px;
	border: 1px solid #999;
	margin: 0;
	padding: 0;
	color: #636363;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 11px;
}


/* IE7 */
.ie7 #t7_swapout_header_right {
	width: 200px;
}
.ie7 .t7_swapout {
	top: 50px !important;
	left: 0 !important;
}
.ie7 #t7_swapout_contain {
	margin-bottom: 0px !important;
}
.ie7 #fancybox-frame {
	height: 640px !important;
	overflow: hidden !important;
}
.ie7 .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: 63px !important;
	padding-bottom: 20px !important;
	margin-bottom: 0px !important;
}
.ie7 #t7_white_box ul.images li {
	margin-bottom: 0px !important;
}